@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  p, h4 {
    @apply lg:text-[16px] text-[12px];
  }
}

@layer components {
  .nav-link {
    @apply items-center cursor-pointer flex w-32 lg:text-[16px] text-[12px];
    &:hover {
      @apply  font-bold gap-3;
    }
  }
  .nav-link:before {
    @apply bg-white inline-block h-px w-0;
    content: "";
    transition: all .60s cubic-bezier(.25,.8,.25,1);
  }
  .nav-link:hover:before {
    @apply w-20;
  } 
   /* default hover state
   .nav-link {
      @apply items-center cursor-pointer flex w-32 font-bold gap-3;
    }
    .nav-link:before {
      @apply bg-white inline-block h-px w-20;
      content: "";
      transition: all .60s cubic-bezier(.25,.8,.25,1);
    }  
    */
}